
<div class='videoShowContainer'>
	<div class='video_box'>
		<div id="ytapiplayer">
	  	You need Flash player 8+ and JavaScript enabled to view this video.
		</div>
	</div>
	<div class='controls_box'>

		<% @video.each do |video| %>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>    

			<script type="text/javascript">

			var params = { allowScriptAccess: "always" };
			var atts = { id: "myytplayer" };
			swfobject.embedSWF("http://www.youtube.com/v/<%=video.id%>?enablejsapi=1&playerapiid=ytplayer&version=3",
			    "ytapiplayer", "640", "321", "8", null, null, params, atts);


			  function onYouTubePlayerReady(playerId) {
			    ytplayer = document.getElementById("myytplayer");
			    setInterval(updatePlayerInfo, 250);
			    fillTracks(ytplayer.getDuration());
			    updatePlayerInfo();
			  }

			  function fillTracks(duration){

			    $('.track_divs').append("<div class='language_box'>English</div><div class='tracks_box' style='width:"+ duration * 10 + "em;'><button class='timeButton'>Get timestamps</button><div id='progressBar'></div></div>");
			}

			function buildPostIt(click_event) {
			  return ['<div class="post-it" style="top:' + click_event.offsetY + 'px; left:' + click_event.offsetX + 'px">',
			            '<header class="header"><span class="remove_note">X</span></header>',
			            '<section class="content" contenteditable="true">Hey post it content</section>',
			          '</div>'].join('\n');
			}

			function moveProgressBar( input ) {
			  var progressBar = document.getElementById('progressBar'); 
			  progressBar.style.left = (input * 10) + 'em'; 
			}
					  
			function updateHTML(elmId, value) {
			  document.getElementById(elmId).innerHTML = value;
			}

			function updatePlayerInfo() {
			  if (ytplayer) {
			    updateHTML("currentTime", Number(ytplayer.getCurrentTime()).toFixed(2));   
			    updateHTML("totalDuration", Number(ytplayer.getDuration()).toFixed(2));   
			    moveProgressBar(ytplayer.getCurrentTime()); 
			    }
			  }
			</script>
		<% end %>
		<ul>
			<a href="javascript:ytplayer.pauseVideo()"><li id="pause"></li></a>
			<a href="javascript:ytplayer.playVideo()"><li id="play"></li></a>

			<br>
			<li style="font-family: 'Quicksand', sans-serif;">current time: <span id="currentTime">--:--</span> / <span id='totalDuration'></span></li>
		</ul>
		<%if current_user%>
		<div id="button_add_track">
		<button class="appendTrack">Add Track</button>
		</div>	
		<%end%>
	</div>
	<div class='clearfix'></div>
	<div class="track_divs">
	</div>
</div>
