<div class='video_box'></div>
<div class='controls_box'>
	<ul>
		<li>&#9616&#9616</li>
		<li>&#9658</li>
		<li>&#9724</li>
	</ul>
</div>
<div class='clearfix'></div>
<div class='language_box'>English</div>
<div class='tracks_box'>1</div>
<div class='language_box'>English</div>
<div class='tracks_box'>2</div>