
<div class='videoShowContainer'>
	<div class='video_box'>
		<div id="ytapiplayer">
	  	You need Flash player 8+ and JavaScript enabled to view this video.
		</div>
	</div>
	<div class='controls_box'>
		<span class='video_id' id='<%= @video.id %>'></span>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>    

		<script type="text/javascript">
      var videoPlayer = new VideoPlayer('<%= @video.id %>', <%= current_user.present? %>)
			var params = { allowScriptAccess: "always" };
			var atts = { id: "myytplayer" };
			
			swfobject.embedSWF("http://www.youtube.com/v/<%= @video.id%>?enablejsapi=1&playerapiid=ytplayer&version=3",
		    "ytapiplayer", "640", "321", "8", null, null, params, atts);

		  function onYouTubePlayerReady(playerId) {
		    ytplayer = document.getElementById("myytplayer");
		    videoPlayer.fillTracks(ytplayer.getDuration());
		    setInterval(videoPlayer.updatePlayerInfo.bind(videoPlayer), 250);
		  }
		</script>

		<ul>
			<a href="javascript:ytplayer.pauseVideo()"><li id="pause"></li></a>
			<a href="javascript:ytplayer.playVideo()"><li id="play"></li></a>
			<a href="javascript:ytplayer.seekTo(0)"><li id="replay"></li></a>
			<a href="javascript:ytplayer.seekTo(ytplayer.getCurrentTime() - 5)"><li id="rewind"></li></a>
			<br>
			<li style="font-family: 'Quicksand', sans-serif;"><span id="currentTime">--:--</span> / <span id='totalDuration'></span></li>
		</ul>
		<%if current_user%>
			<div id="button_add_track">
				<button class="appendTrack">Add Track</button>
			</div>	
		<%end%>
	</div>
	<div class='clearfix'></div>
	<div class="track_divs"></div>
</div>
