<div class='videoShowContainer'>
	<div class='video_box'>
		<div id="ytapiplayer">
	  	You need Flash player 8+ and JavaScript enabled to view this video.
		</div>
	</div>
	<div class='controls_box'>
		<% @video.each do |video| %>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>    

			<script type="text/javascript">

			var params = { allowScriptAccess: "always" };
			var atts = { id: "myytplayer" };
			swfobject.embedSWF("http://www.youtube.com/v/<%=video.id%>?enablejsapi=1&playerapiid=ytplayer&version=3",
			    "ytapiplayer", "640", "321", "8", null, null, params, atts);


			  function onYouTubePlayerReady(playerId) {
			    ytplayer = document.getElementById("myytplayer");
			    setInterval(updatePlayerInfo, 250);
			    updatePlayerInfo();
			  }
			  
			  function updateHTML(elmId, value) {
			      document.getElementById(elmId).innerHTML = value;
			  }

			function updatePlayerInfo() {
			  if (ytplayer) {
			    updateHTML("currentTime", Number(ytplayer.getCurrentTime()).toFixed(2));   
			    updateHTML("totalDuration", Number(ytplayer.getDuration()).toFixed(2));   
			    }
			  }
			</script>
		<% end %>
		<ul>
			<a href="javascript:ytplayer.pauseVideo()"><li>&#9616&#9616</li></a>
			<a href="javascript:ytplayer.playVideo()"><li>&#9658</li></a>
			<br>
			<li>current time: <span id="currentTime">--:--</span> / <span id='totalDuration'></span></li>
		</ul>
	</div>
	<div class='clearfix'></div>
	<div class='language_box'>English</div>
	<div class='tracks_box'>1</div>
	<div class='language_box'>English</div>
	<div class='tracks_box'>2</div>
</div>