/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin:0;
	font-size: 20px;
}

nav {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	border-bottom: solid 7px black;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	color: white;
	background-color: gray;
	border-radius: .3em;
}

ul {
	height: 100%;
	margin: 0;
	padding-left: 0;
	list-style: none;
}

li {
	float: right;
	margin: 0 15px;
}

table,td {
	border-collapse:collapse;
	border-radius: 5px;
}

td {
	padding: 8px 12px;
}

th{
	border-bottom: black solid 1px;
}

button {
	color: white;
	padding: 4px;
	width: 100%;
	border: 1px 0 solid black;
	background-color: #667799;
}

button:hover {
	background-color: #7a9460;
}

.soundscript_logo{
	width:353px;
	height:69px;
	background:url('/assets/sound_logo.png');
	float:left;
}

.container{
	margin: 100px auto;
}

.videoShowContainer{
	margin-top: 75px;
	min-width: 1050px;
}

#index_page_container{
	background-color: #bdbec5;
	margin: auto;
  width: 950px;
  overflow:scroll;
}

.front_button {
	background-color:#f0a502;
	color:white;
}

#search_form{
	padding: 25px 0;
	margin-left: 150px;
}

#search_form form input{
	width:500px;
}

.video_thumbnail{
	margin: 10px 20px;
	float:left;
	width: 195px;
	height:220px;
}

.video_thumbnail img{
	width: 180px;
	height: 100px;
}

.login_form {
	width:310px;
	height:100%;
	margin: auto;
	padding: 20px;
	background-color: gray;
}

.login_form form label{
	padding-top: 12px;
	color:white;
}

.login_form form input{
	height:30px; 
	width:100%;
}

#error_message{
	margin-top: 30px;
	color:red;
}

.clearfix {
	clear: both;
}

.create_form .submit, .login_form .submit{
	width:120px;
}

.login_form .submit:hover{
	background-color: #f0a502;
	color:white;
}

#submit_index:hover{
	background-color: yellow;
}

#profile_container{
	width:700px;
	height: 100%;
	margin: 150px auto;
	padding: 50px;
	background-color: lightgray;
}

.container_language{
	width: 800px;
	margin: 100px auto;
}

#edit_profile_span{
	float: right
}

#search_language{
	width:700px;
	padding:50px;
	background-color: lightgray;
}











.flickr_pagination {
  text-align: center;
}

.flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
	padding: 0.2em 0.5em;
  border: 1px solid #dddddd;
  color: #0063dc;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.flickr_pagination .page_info {
color: #aaaaaa;
padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
border-width: 2px;
}