/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav{
	background-color: white;
	width: 100%;
	height: 130px;
	position: absolute;
	left: 0;
	top: 0;
	border-bottom: solid 7px lightgray;
}

nav ul li {
	display: inline-block;
	float: right;
	padding-right: 15px;
	text-decoration: none;
	font-family: 'Muli', sans-serif;
}

nav ul li a{
	text-decoration: none;
	color: black;
}

nav h1 a {
	color: black;
	text-decoration: none;
	font-size: 40px;
}

nav h1 {
margin-top: 0px;
padding-left: 35px;
}

body{
	margin:0px;
	background-color: white;
}

ul li a{
	text-decoration: none;
	color: black;
	font-family: 'Muli', sans-serif;
	padding: 4px;
}

ul li a:hover{
	color: white;
	padding: 4px;
	border-radius: .3em;
	background-color: grey;
}

.nav_link{
	margin-top: 60px;
	margin-right: 20px;
}

.soundscript_logo{
	background:url('/assets/logo.png');
	width:400px;
	height:93px;
}

#soundscript_logo{
	float:left;
	margin-top: 3px;
}

.container{
	margin: 130px auto;
	margin-left: 5%;
	background-color: white;
}

.videoShowContainer{
	margin: 75px 0 0 0;
}

#index_page_container{
	background-color: #bdbec5;
	margin: 20px auto;
  width: 950px;
  padding: 0px 20px 20px 20px;
  border-radius: .75em;
  overflow:scroll;
}

#blurb {
	margin: 20px auto;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	color: #323338;	
	font-size: 1.3em;
	height: 150px;
  width: 500px;
  padding: 20px 20px 10px 20px;
}

#search_form{
	padding-top: 20px;
	width:300px;
	padding-bottom: 30px;
}

#search_form form {
	width:700px;
	padding-top: 30px;
}

#search_form form input{
	width:500px;
	height:30px;
	font-size: 20px;
}

#index_page_container #search_form{
	margin-left: 150px;
}

#index_page_container .video_thumbnail{
	margin: 20px;
	margin-bottom: 5px;
	float:left;
	width: 195px;
	height:220px;
}

.video_thumbnail p {
	margin: 0;
}

#index_page_container .video_thumbnail img{
	width: 180px;
	height: 101px;
}

.login_form {
	width:25%;
	height:100%;
	margin: auto;
	padding: 20px;
	background-color: gray;
	border-radius: .75em;
}

.login_form form label{
	padding-top: 12px;
	font-family: 'Quicksand', sans-serif;
	color:white;
}

.login_form form input{
	border-radius: .30em;
	font-size: 20px;
	height:30px; 
	width:100%;
}

#error_message{
	margin-top: 30px;
	color:red;
}

#new_user{
	width:300px;
}

ul {
	padding-left: 0;
}

.clearfix {
	clear: both;
}

.create_form .submit, .login_form .submit{
	width:120px;
}

.login_form .submit:hover{
	background-color: #f0a502;
	color:white;
}

.input_fields{
	background-color:lightgray;
}

.input_fields:hover{
	background-color: white;
}

#submit_index:hover{
	background-color: yellow;
}

#profile_container{
     width:700px;
     height: 100%;
     margin: 150px auto;
     /*border:solid black 1px;*/
     padding: 50px;
     border-radius: 1em;
     background-color: lightgray;
     font-family: 'Roboto';
}

#profile_side{
     margin-top: 150px;
     width: 400px;
     float:left;
     height:600px;
     border:solid black 1px;
     margin-bottom: 25px;
     margin-left: 25px;    
}

#button_add_track{
	padding-left: 21px;
}

.timeButton, .deleteButton, .editButton {
	height: 30px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #f0a502;
	font-family: 'Muli', sans-serif;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.flickr_pagination .page_info {
color: #aaaaaa;
padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
border-width: 2px;
}

.flickr_pagination .previous_page {
margin-right: 1em;
}

.flickr_pagination .next_page {
margin-left: 1em;
}

.video_thumbnail a {
	font-family: 'Roboto';
	text-decoration: none;
}

table,th,td
{
border:1px solid black;
border-collapse:collapse;
border-radius: 5px;

}



td, td{
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
}

td a{
	text-decoration: none;
	color: black;

}
td a:hover{
	text-decoration: none;
	color: gray;

}

td{
	text-decoration: none;
	color:black;
}

