.language_box {
	width: 130px;
	height: 196px;
	background-color: gray;
	border: 1px solid black;
	position: absolute;
	margin-top: 10px;
}

.trackWrapper {
	overflow: scroll;
	margin-left: 130px;
	margin-top: 10px;
}

.tracks_box {
	height: 196px;
	background-image: url('/assets/tickk.jpg');
	border: 1px solid black;
	position: relative;
}

.show_tracks_box {
	height: 196px;
	background-image: url('/assets/tickk.jpg');
	border: 1px solid black;
	position: relative;
}

.has_tracks {
	border: 6px solid green;
}

.track_divs{
	width:100%;
	position: relative;
}

.progressBar {
  position: relative; 
  background-color: red;
  width: 3px;
  height: 100%;
  float: left;
  margin-left: 40px;  
}

.trackLine {
	height: 198px;
}

.forward {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.reversed {
	position: absolute;
	width: 100%;
	z-index: 3;
}

.langDisplay {
	font-size: 1.1em;
	margin: 32px 0 10px 28px;
}
