.language_box {
	width: 100px;
	height: 196px;
	background-color: gray;
	border: 1px solid black;
	position: absolute;
}

.trackWrapper {
	overflow: scroll;
	margin-left: 100px;
}


.tracks_box {
	height: 196px;
	background-image: url('/assets/tickk.jpg');
	border: 1px solid black;
	position: relative;
}

.show_tracks_box {
	height: 196px;
	background-image: url('/assets/tickk.jpg');
	border: 1px solid black;
	position: relative;
}

.has_tracks {
	border: 6px solid green;
}

.track_divs{
	width:100%;
	position: relative;
}

.progressBar {
  position: relative; 
  background-color: red;
  width: 3px;
  height: 100%;
  float: left;
  margin-left: 40px;  
 
}

.appendTrack{
	height:30px;
	width:95px;
	font-size: 14px;
	border-radius: .4em;
	background-color: #f0a502;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}

.appendTrack:hover{
	background-color: gray;
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	color:white;
}

.trackLine {
	height: 196px;
}

.forward {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.reversed {
	position: absolute;
	width: 100%;
	z-index: 3;
}
