
#pause{
	background: url('/assets/pause.png');
	width: 80px;
	height: 79px;
	display: inline-block;
	margin-right: 0;
}

#play{
	background: url('/assets/play.png');
	width: 80px;
	height: 79px;
	display: inline-block;
	margin-right: 0;
}

#rewind{
	background: url('/assets/rewind.png');
	width: 80px;
	height: 79px;
	display: inline-block;
	margin-right: 0;
}

#replay{
	background: url('/assets/replay.png');
	width: 80px;
	height: 79px;
	display: inline-block;
	margin-right: 0;
}

#replay:hover{
	background: url('/assets/replay2.png');
}

#rewind:hover{
	background: url('/assets/rewind2.png');
}

#play:hover{
	background: url('/assets/play2.png');
}

#pause:hover{
	background: url('/assets/pause2.png');
}

.controls_box {
	padding-top: 20px;
	margin-left: 80px;
	background-color: white;
	height:271px;
	width: 400px;
}

.controls_box li {
	display: inline;
	margin:20px;
	font-size: 32px; 
}

.video_box {
	width: 640px;
	height: 321px;
	background-color: white;
	float: right;
}

#totalDuration {
	font-size: 2em;
	margin: 0 0 0 36px;
}

